<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<title>Search Profile</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/searchRecipeIng.js}"></script>
</head>
    <title>Search using ingredients</title>
</head>
<body>

   <div id="chosenIng">

   </div>
   <form id="form" method="POST">
   <input type="hidden" name="ingList" id="ingList">
   <button id="search">search</button>
   </form>
       <input name="ingName" id="ingName">
<div id="results">

</div>
   <div th:if="${res}">

           <div th:replace="fragments :: search-results"></div>

       </div>
       </div>
   </div>
<script>

</script>
</body>
</html>