<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>
<div id="wrapper">
    <nav id="sidebar" th:replace="fragments :: nav-bar"></nav>
    <div id="content">
        <nav th:replace="fragments :: small-nav"></nav>
        <div th:each="recipe:${res}">
            <hr>
            <a th:href="@{'/view/profile/' + ${recipe.user.id}}" th:text="${'Author : '+ recipe.getUser().getUsername()}"></a>
            <div th:replace="fragments :: recipeShow"></div>
            <hr>
            <p th:text="${recipe.score}"></p>
        </div>
    </div></div>
<div th:replace="fragments :: bottom"></div>
</body>
</html>