<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>recipe</title>
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link th:href="@{/css/nav.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/searchProfile.js}"></script>
    <script type="text/javascript" th:src="@{/js/upvote.js}"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/toopay/bootstrap-markdown/master/css/bootstrap-markdown.min.css" />
    <!-- Scrollbar Custom CSS -->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>


    <script src="https://cdn.rawgit.com/toopay/bootstrap-markdown/master/js/bootstrap-markdown.js
"></script>


 </head>
<body>

    <nav id="sidebar" th:fragment="nav-bar">
        <div class="sidebar-header">
            <a th:href="@{/store}"> <h3>GO TO HOME</h3></a>
        </div>
        <div id="myDropdown" class="dropdown-content">
            <form class="form-inline ml-auto">
                <input name="searchWord" id="searchWord" class="form-control mr-sm-2" type="text" placeholder="Search user">
                <div id="results">

                </div>
            </form>
        </div>
        <ul class="list-unstyled components">
           <!-- <p>Dummy Heading</p>-->

            <li>
                <a th:href="@{/store/addRecipe}">Add recipe</a>
            </li>
            <li>
                <a th:href="@{/search/recipe}">search Recipe</a>

            </li>
            <li>
                <a th:href="@{/search/recipeIng}">search using ingredients</a>
            </li>
            <li>
                <a th:href="@{/logout}">logout</a>
            </li>
            <hr>
            <li style="color:red; margin-left:10px; margin-bottom:10px">
                <a th:href="@{/subscription}">Subscriptions</a>
            </li>
            <li th:if="${subUsers}" th:each="subuser : ${subUsers}">

                <a th:href="@{/view/profile/}+${subuser.getId()}" th:text="${subuser.username}"></a>
            </li>
        </ul>

    </nav>
    <nav th:fragment="small-nav" class="navbar navbar-inverse navbar-expand-lg  navbar-light bg-light">
        <div class="container-fluid row">
        <div>
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
                <span>Toggle Sidebar</span>
            </button>
        </div>
        <div class="ml-auto">
            <a class="btn btn-info" th:href="@{/store/popular}">Popular</a>
        </div>

        </div>
    </nav>
//recipe show
    <div th:fragment="recipeShow">
      <div>
          <div class="row">
          <div><h3 th:text="${recipe.name}"></h3></div>
          <div th:if="${recipe.user.id==user.id}" class="ml-auto">
              <div class="dropdown ele">
              <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" ><i class="fas fa-ellipsis-v"></i></button>
                  <ul class="dropdown-menu">
                  <li><form th:action="@{/store/edit}" method="GET" >
                  <input th:name="recipeId" th:value="${recipe.id}" type="hidden" >
                  <button  class="btn btn-default">edit</button>
                  </form></li>
                      <li><form th:action="@{/store/delete}" method="GET" >
                          <input th:name="recipeId" th:value="${recipe.id}" type="hidden" >
                          <button  class="btn btn-default deletes" >delete</button>
                      </form></li>
                      </ul>
              </div>
          </div>
          </div>
      </div>

            <p th:text="${recipe.getCreateDate()}" style="font-size:15px"></p>
            <p th:text="${recipe.toString()}"></p>
            <div class="recipes" th:text="${recipe.instruction}"></div>
            <i th:id="${recipe.id}" class="fa fa-arrow-up" th:classappend="${recipe.hasUserUpvoted(user)} ? upvote : nothing"></i>
            <span th:id="'count'+${recipe.id}" th:text="${recipe.upvoteCounter()}" ></span>
        </div>

//recipe show end
<div th:fragment="search-results">
    <div class="panel-group">
        <div class="panel panel-info" th:each="item:${res}">
            <div class="panel-heading">
                <a class="text-white" th:href="@{'/view/profile/' + ${item.user.id}}" th:text="${'Author : '+ item.getUser().getUsername()}"></a>
            </div><div class="panel-body">
            <a class='text-info' th:href="@{'/view/recipe/' + ${item.id}}" >
                <h3 th:text="${item.name}"></h3></a>

            <table>
                <tr th:each="ing:${item.getIngredients()}">
                    <td th:text="${ing}"></td>
                </tr>
            </table></div>

        </div></div></div>


    <div th:fragment="bottom">

        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        -->
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
       <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
    </div>
</body>
</html>