<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
  <p th:text="${'hi '+user.getUsername()}"></p>
<hr>
  <form method="post" action="save">
      <div class="form-group">
          <label th:for="name">Item name: </label>
          <input class="form-control" th:field="${item.name}" />
          <span th:errors="${item.name}" class="error"></span>
      </div>
      <input type="submit" value="Add Item" />
  </form>
  <table>
      <thead></thead>
      <tr th:each="item:${items}">
          <td th:text="${item.getName()}"></td>
      </tr>
  </table>
  <button onclick="window.location.href = '/logout';">Log out</button>
</body>
</html>